rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn()
        && request.auth.token.email == 'haroldisita666@gmail.com';
    }

    match /doctors/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId) || isAdmin();
    }

    match /clinics/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId) || isAdmin();
    }
  }
}
